<ion-view view-title="Settings">
    <ion-content>
    	<div class="list">
  			<div class="item item-divider">
    		  General
  			</div>

  			<a class="item assertive" href="#" ng-click="clearAppData()">
    		  Clear All App Data
  			</a>

  			<div class="item item-divider">
  				Cameras
  			</div>

  			<a class="item" href ng-repeat="camera in cameras" ng-click="openModal(camera)">
  			{{camera.title}}
  			</a>

  			<a href class="item item-icon-right positive" ng-click="openModal()">
 				Add New Camera
 				<i class="icon ion-plus-circled"></i>
  			</a>
 
		</div>
    </ion-content>
</ion-view>

<style>
.item-select select:disabled {
    color: #888;
}

</style>